.buttonAdicionar {
    align-self: center;
    border: 0px solid black;
    background-color: #DAE3ED;
    border-radius: 5px;
    cursor: pointer;
    height: 2rem;
    color: #1d1d1d;
    padding: 0;
    transition: all 200ms ease-in-out;
    
    a {
        padding: 0.6rem 1.2rem;
        text-decoration: none;
        color: inherit;
    }
   
    &:hover {
    background-color: #2ba044;
    transform: scale(1.1);
    color: #DAE3ED;
    }

    i {
        font-size: 16px;
        padding: 0 8px 0 4px;
    }
}

.buttonProduto {
    background-color: #DAE3ED;
    border-radius: 5px;
    border: 0px solid black;
    cursor: pointer;
    color: #1D1D1D;
    padding: 8px 13px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 600;

    &:hover {
    background-color: #1D1D1D;
    transform: scale(1.1);
    color: #DAE3ED;
    }
   
    
  
}

.buttom-modificar {
    padding: 10px 13px;
    border-radius: 10px;
    border: 0px;
    margin-right: 1em;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: #211992;
        transform: scale(1.1);
        color: #DAE3ED;
        }

    a {
        color: inherit;
    }
}

.buttom-delete {
    padding: 10px 13px;
    border-radius: 10px;
    border: 0px;

    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: #c21111;
        transform: scale(1.1);
        color: #DAE3ED;
        }

    a {
        color: inherit;
    }
}


@media (max-width: 667px) {

    .buttonAdicionar {
        padding: 5px 10px;
        font-size: 12px
    }

    i {
        font-size: 12px;
    }


    .buttonAdicionar a {
        padding: 0.6rem 1rem;
    }

    .buttom-modificar { 
        font-size: 0.5rem;
        padding: 10px 35px;
    
    }
    
    .buttom-delete{ 
        font-size: 0.5rem;
        padding: 10px 35px;
       
    }
}