
.container_adicionar {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    grid-area: tb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto';
  

    .title_detalhesProduto {
        position: relative;
        font-size: 1.4rem;
        color: black;
        font-weight: 700;
    }

    .list_columns {
        display: flex;
        margin: 1.5rem 0;

        .column1 {
            display: flex;
            margin-right: 1rem;
            flex-direction: column;
            position: relative;
    
         
        
        }
    
        .column2 {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        label {
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
        
        .input {
            border: 1px solid rgba(189, 188, 188, 0.459);
            border-radius: 5px;
            height: 2rem;
            width: 12rem;
            padding: 5px 11px;
            margin-bottom: 1rem; 
            cursor: pointer;

            &:focus {
                border: 1px solid #0e29c0;
                box-shadow: 0 1px 1px rgba(207, 202, 198, 0.075)inset, 0 0 4px rgba(32, 18, 158, 0.6);
                outline: 0 none;
            }
            
        }

        .input_valido {
            border: 1px solid #0eaa23;
            box-shadow: 0 1px 1px rgba(207, 202, 198, 0.075)inset, 0 0 4px rgba(18, 158, 41, 0.6);
            outline: 0 none;
    
        }

        .input_invalido {
            border: 1px solid #c00c0c;
            box-shadow: 0 1px 1px rgba(207, 202, 198, 0.075)inset, 0 0 4px rgba(158, 18, 18, 0.6);
            outline: 0 none;
        }

        
 
    }

}

.options {
    border: 1px solid rgba(189, 188, 188, 0.459);
    border-radius: 5px;
    height: 2.8rem;
    width: 13.6rem;
    padding: 5px;
    margin-bottom: 1rem;

    &:focus {
        border: 1px solid #054A91;
        box-shadow: 0 1px 1px rgba(207, 202, 198, 0.075)inset, 0 0 8px rgba(32, 18, 158, 0.6);
        outline: 0 none;
    }

}

.options_valido {
    border: 1px solid #0eaa23;
    box-shadow: 0 1px 1px rgba(207, 202, 198, 0.075)inset, 0 0 4px rgba(18, 158, 41, 0.6);
    outline: 0 none;
}

.options_invalido {
    border: 1px solid #c00c0c;
    box-shadow: 0 1px 1px rgba(207, 202, 198, 0.075)inset, 0 0 4px rgba(18, 158, 41, 0.6);
    outline: 0 none;
}

.container_input {
    display: flex;
    flex-direction: column;
}

@media (max-width: 667px) {
   
    .container_adicionar .list_columns .input {
        width: 10rem;
    }

    .container_adicionar {
        margin: 1rem 0;
    }

    .column1 {

        .options {
            width: 11.8rem;
        }
        
    }
}