.footer {
    background-color: #054A91;
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    margin-top: 1.5rem;

    p {
        font-size: 0.7em;
        color: #DAE3ED;
        text-align: center;
    }
}


@media (max-width: 667px) {

    .footer {
       
     
    }
    
}
