.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    background-color: #054A91;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.footer > p {
    font-size: 12px;
    color: #DAE3ED;
    text-align: center;
}

@media (max-width: 476px) {

    .footer {
        bottom: 0;
    }
    
}