.header {
    display: grid;
    grid-area: head;
    background-color: #054A91;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', roboto;
}

span {
    font-size: 1.5em;
    font-weight: 700;
    color: #DAE3ED;

    .title-firstpt {
        margin-right: 1rem;
    }

    .title-secondpt {
        margin-left: 1rem;
    }
    
}


.logo-img {
    height: 3rem;
    border: 3px solid #DAE3ED;
    border-radius: 7px;
}

@media (max-width: 667px) {
    span {
        font-size: 1.3em;
    }
  
    h2 { 
      font-size: 1.2em;
    }

    .logo-img {
        font-size: 2.5em;
    }
}